<p id="notice"><%= notice %></p>

<h1>Listing Nlcs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nlc no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nlcs.each do |nlc| %>
      <tr>
        <td><%= nlc.id %></td>
        <td><%= nlc.nlc_no %></td>
        <td><%= link_to 'Show', nlc %></td>
        <td><%= link_to 'Edit', edit_nlc_path(nlc) %></td>
        <td><%= link_to 'Destroy', nlc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nlc', new_nlc_path %>
